NEXT_PUBLIC_SITE_NAME="Revista D'Ponta"
NEXT_PUBLIC_SITE_URL="https://seusite.vercel.app"
NEXT_PUBLIC_SUPABASE_URL="https://xxxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sua-chave-anon"
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET="revistas"
